h1 {
font-family: 'Russo One', sans-serif; font-size: 70px; color:#0066FF;
}

a{
font-family: 'Russo One', sans-serif; font-size: 30px; text-decoration: none; color:#006FFF;
}

body{
font-family: 'Russo One', sans-serif; font-size: 30px; text-decoration: none; color:#006FFF;
}